# ============================================================
# KEAMANAN - JANGAN PERNAH PUSH FILE INI KE GITHUB!
# ============================================================
.streamlit/secrets.toml

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
.Python
env/
venv/
.env
.venv
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
logs/

# Jupyter Notebook
.ipynb_checkpoints

# Distribution / packaging
dist/
build/
*.egg-info/
